@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg-primary: #14121F;
    --bg-secondary: #291F43;
    --bg-tertiary: #7D66D9;
    --bg-quarternary: #E2DDFE;

    --color-primary: #E2DDFE;
    --color-secondary: #7D66D9;
    --color-tertiary: #6E56CF;
    --color-quaternary: #14121F;

    --primary: #291F43;
    --secondary: #33255B;
    --tertiary: #3C2E69;

    --border-primary: #473876;
    --border-secondary: #56468B;
    --border-tertiary: #6958AD;

  }


  body {
    background-color: var(--bg-primary);
    color: var(--color-primary)
  }

  .text-primary {
    color: var(--color-primary)
  }
  .text-secondary {
    color: var(--color-secondary)
  }
  .text-tertiary {
    color: var(--color-tertiary)
  }
  .text-quaternary {
    color: var(--color-quaternary)
  }
  .bg-primary {
    background-color: var(--bg-primary)
  }
  .bg-secondary {
    background-color: var(--bg-secondary)
  }
  .bg-tertiary {
    background-color: var(--bg-tertiary)
  }
  .bg-quarternary {
    background-color: var(--bg-quarternary)
  }
  .border-primary {
    border-color: var(--border-primary)
  }
  .border-secondary {
    border-color: var(--border-secondary)
  }
  .border-tertiary {
    border-color: var(--border-tertiary)
  }



}